<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>내역조회 : 돈매니저</title>
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/list.css}">
    <link rel="stylesheet" th:href="@{//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css}" type="text/css"/>
    <!-- js -->
    <script th:src="@{/js/detail.js}"></script>
    <!-- jquery datepicker -->
    <script th:src="@{https://code.jquery.com/jquery-3.6.0.js}"></script>
    <script th:src="@{https://code.jquery.com/ui/1.13.2/jquery-ui.js}"></script>
    <script>
    $(function() {
        $( "#start" ).datepicker({
            changeMonth: "true",
            changeYear: "true",
            showMonthAfterYear : "true",
            yearRange: "c-5:c",
            yearSuffix: "년",
            dateFormat: "yymmdd",
            dayNames: ["일요일", "월요일", "화요일", "수요일", "목요일", "금요일", "토요일"],
            dayNamesMin: ["일", "월", "화", "수", "목", "금", "토"],
            monthNames: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
            monthNamesShort: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"],
            nextText: "다음달",
            prevText: "이전달",
            maxDate: 0,
            onClose: function( selectedDate ) {
                $("#end").datepicker("option", "minDate", selectedDate);
            }
        });
    });

    $(function() {
        $( "#end" ).datepicker({
            changeMonth: "true",
            changeYear: "true",
            yearRange: "2017:2022",
            yearSuffix: "년",
            dateFormat: "yymmdd",
            dayNames: ["일요일", "월요일", "화요일", "수요일", "목요일", "금요일", "토요일"],
            dayNamesMin: ["일", "월", "화", "수", "목", "금", "토"],
            monthNames: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
            monthNamesShort: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"],
            nextText: "다음달",
            prevText: "이전달",
            maxDate: 0
        });
    });
    </script>
    <!-- 구글 차트 -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', {packages: ['corechart', 'bar']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            let xhr = new XMLHttpRequest();
            xhr.open('POST', '/accountChart', false);
            xhr.setRequestHeader('content-type', 'application/json');
            xhr.send();

            let data = new google.visualization.DataTable( xhr.response );

            let option = {
                'title' : '',
                'colors' :  ['#FF3939', '#207E37']
            }

            let chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
            chart.draw(data, option);
        }
    </script>
</head>
<body>
<nav th:replace="/include/menu.html :: menu"></nav>
<div id="chart">
    <div class="content">
        <div class="title" th:onclick="win_open('/datePopup', '날짜선택')">
            <th:block th:switch="${map['type']}">
                <span th:case="y">[[${map['year']}]]년</span>
                <span th:case="m">[[${map['year']}]]년 [[${map['month']}]]월</span>
                <span th:case="w">[[${map['year']}]]년 [[${map['month']}]]월 [[${map['week']}]]주</span>
            </th:block>
            <form id="parentForm" method="post" th:action="@{/accountList}">
                <input type="hidden" name="year" id="year">
                <input type="hidden" name="month" id="month">
                <input type="hidden" name="week" id="week">
                <input type="hidden" name="type" id="type">
            </form>
        </div>
        <div id="chart_div"></div>
        <!-- 검색 영역 -->
        <div id="searchMenu">
            <form id="menu" method="post" th:action="@{/accountList}">
                <input type="hidden" name="type" th:value="${map['type']}">
                <input type="hidden" name="year" th:value="${map['year']}">
                <input type="hidden" name="month" th:value="${map['month']}">
                <input type="hidden" name="week" th:value="${map['week']}">

                <select name="mode"  id="mode" th:onchange="onChangeMode(this)">
                    <option th:value="${'all'}" th:selected="${map['mode']} == 'all'">전체</option>
                    <option th:value="${'inout'}" th:selected="${map['mode']} == 'inout'">수입/지출</option>
                    <option th:value="${'inCategory'}" th:selected="${map['mode']} == 'inCategory'">수입 카테고리</option>
                    <option th:value="${'outCategory'}" th:selected="${map['mode']} == 'outCategory'">지출 카테고리</option>
                    <option th:value="${'title'}" th:selected="${map['mode']} == 'title'">제목</option>
                    <th:block th:if="${map['type']} == 'y'">
                        <option th:value="${'period'}" th:selected="${map['mode']} == 'period'">기간</option>
                    </th:block>
                </select>
                    <div class="menu" th:style="${map['mode'] == 'inout' ? 'display: block' : 'display: none'}">
                        <label th:each="category : ${map['parent']}">
                            <input type="radio" th:value="${category.code}" name="option" th:onclick="document.getElementById('menu').submit()" th:checked="${category.code == map['option']}">[[${category.name}]]
                        </label>
                    </div>
                    <div class="menu" th:style="${map['mode'] == 'inCategory' ? 'display:block' : 'display:none'}">
                        <label th:each="category : ${map['income']}">
                                <input type="checkbox" th:value="${category.code}" class="inMode" name="category" th:checked="${map['incomeCheck'] != null && map['incomeCheck'][categoryStat.index] == category.code }" th:onclick="document.getElementById('menu').submit()">
                                [[${category.name}]]
                        </label>
                    </div>
                    <div class="menu" th:style="${map['mode'] == 'outCategory' ? 'display:block' : 'display: none'}">
                        <label th:each="category : ${map['expend']}">
                            <input type="checkbox" th:value="${category.code}" class="exMode" name="category" th:checked="${map['expendCheck'] != null && map['expendCheck'][categoryStat.index] == category.code}" th:onclick="document.getElementById('menu').submit()">
                            [[${category.name}]]</label>
                    </div>
                    <div class="menu" th:style="${map['mode'] == 'title' ? 'display: block' : 'display: none'}">
                        <input type="text" placeholder="제목을 입력해주세요." class="mode" name="title">
                        <button type="button" th:onclick="document.getElementById('menu').submit()">검색</button>
                    </div>
                    <div class="menu" th:style="${map['mode'] == 'period' ? 'display: block' : 'display: none'}">
                        시작일 <input type="text" class="period" name="start" id="start" readonly> - 종료일 <input type="text" class="period" name="end" id="end" readonly>
                        <button type="button" th:onclick="periodCheck()">검색</button>
                    </div>
            </form>
            <button type="button" th:onclick="deleteCheck()">삭제</button>
        </div>
            <form method="post" th:action="@{/deleteAccount}"  id="table_list">
                <input type="hidden" name="type" th:value="${map['type']}">
                <input type="hidden" name="year" th:value="${map['year']}">
                <input type="hidden" name="month" th:value="${map['month']}">
                <input type="hidden" name="week" th:value="${map['week']}">
                <table>
                    <tbody id="table_top">
                        <tr>
                            <th>선택</th>
                            <th>날짜</th>
                            <th>고정/변동</th>
                            <th>카테고리</th>
                            <th>제목</th>
                            <th>금액</th>
                        </tr>
                    </tbody>
                    <tbody id="table_body">
                        <tr  th:if="${#lists.size(map['list'])}  == 0">
                            <td colspan="6" th:style="${'vertical-align: middle'}">내역이 없습니다. 등록해주세요!</td>
                        </tr>
                        <tr th:each="list : ${map['list']}" th:unless="${#lists.size(map['list'])}  == 0">
                            <td><input type="checkbox" name="id" th:value="${list.id}"></td>
                            <td>[[${list.date}]]</td>
                            <td th:text="${list.fix == 'y' ? '고정' : '변동'}"></td>
                            <td>[[${list.name}]]</td>
                            <td><a th:href="@{/accountDetail/{id}(id= ${list.id})}">[[${list.title}]]</a></td>
                            <td th:text="${list.code == '01' ? '+ ' + #numbers.formatInteger(list.price, 3, 'COMMA') : '- ' + #numbers.formatInteger(list.price, 3, 'COMMA')}" th:style="${list.code == '01' ? 'color: #3960FF;' : 'color: #FF3939;'}">[[${list.price}]]</td>
                        </tr>
                    </tbody>
                </table>
            </form>
        <div>
            <table>
                <tr class="table_bottom">
                    <th>전체</th>
                    <td th:text="${map['totalPrice'] == 0 ? '0원' : #numbers.formatInteger(map['totalPrice'], 3, 'COMMA') + '원'}">[[${map['totalPrice']}]]</td>
                    <th>수입</th>
                    <td th:text="${map['inPrice'] == 0 ? '0원' : #numbers.formatInteger(map['inPrice'], 3, 'COMMA') + '원'}">[[${map['inPrice']}]]</td>
                    <th>지출</th>
                    <td th:text="${map['outPrice'] == 0 ? '0원' : #numbers.formatInteger(map['outPrice'], 3, 'COMMA') + '원'}">[[${map['outPrice']}]]</td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>