<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상세내역 : 돈매니저</title>
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/detail.css}">
</head>
<body class="body__wrap">
<nav th:replace="/include/menu.html :: nav"></nav>
<div class="div__wrap">
    <!-- 제목 -->
    <div class="header">
        <div class="header__title">
            [[${date}]]
        </div>
    </div>
    <!-- 상세 영역 -->
    <div class="detail">
        <form method="get" th:action="@{/accountUpdate/{id}(id=${id})}" class="detail__form">
            <table class="account__detail detail__table">
                <tr>
                    <th class="table__width__percent--20"><span>고정/변동</span></th>
                    <td class="table__width__percent--30" th:text="${fix == 'y' ? '고정 > ' + fixOption : '변동'}"></td>
                    <th class="table__width__percent--20">카테고리</th>
                    <td class="table__width__percent--30">
                        <span th:each="step : ${category}" th:text="${#lists.size(category) == stepStat.count ? step.name : step.name + ' > ' }" th:style="${#lists.size(category) == stepStat.count ? 'color: var(--color-basic-point)' : 'color: #000000'}"></span>
                    </td>
                </tr>
                <tr>
                    <th>제목</th><td colspan="3">[[${title}]]</td>
                </tr>
                <tr>
                    <th class="table__height__percent--50">내용</th>
                    <td colspan="3" th:text="${content == null ? '내용을 입력하지 않았습니다.' : content}" th:style="${content == null ? 'color: var(--font-color-gray)' : ''}"></td>
                </tr>
                <tr>
                    <th>금액</th><td colspan="3" th:text="${#numbers.formatInteger(price, 3, 'COMMA') + '원'}"></td>
                </tr>
                <tr>
                    <th>사진</th>
                    <td th:if="${image == null}" colspan="3" class="detail__table__image font__color--gray">이미지를 등록하지 않았습니다.</td>
                    <td th:unless="${image == null}" colspan="3" class="detail__table__image">
                        <div class="detail__image">
                            <img th:src="'/image/accountBook/' + ${image}" title="사진 크게보기" th:onclick="openImg(this.src)">
                            <script>
                            function openImg(url) {
                                let img = new Image();
                                img.src = url;

                                let img_width = img.width + 25;
                                let img_height = img.height;
                                let win = img.height + 30;

                                const openWindow = window.open('_blank', 'width=' + img_width + ', height=' + img_height + ', menubars= no, scrollbars=auto');
                                openWindow.document.write("<style>body{margin:0px;})</style><img src='"+url+"' width='"+win+"'>");
                            }
                        </script>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>위치</th>
                    <td th:if="${locationName == null}" colspan="3" class="font__color--gray">
                        등록된 위치가 없습니다.
                    </td>
                    <td th:unless="${locationName == null}" colspan="3" class="location__info">
                        <span id="title">[[${locationName}]]</span>
                        [[${location}]]
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <!-- 버튼 -->
    <div class="button__count--02">
        <button type="button" class="button__size--medium button__cancel" th:onclick="location.href='/accountList'">확인</button>
        <button class="button__size--medium button__confirm" th:onclick="document.getElementsByClassName('detail__form')[0].submit()">수정</button>
    </div>
</div>
</body>
</html>