<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>내역조회 : 돈매니저</title>
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/chart.css}">
    <!-- 구글 차트 -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script>
        google.load('visualization','1',{
            'packages' : ['corechart']
        });

        google.setOnLoadCallback(drawChart);
        function drawChart() {
            let xhr = new XMLHttpRequest();
            xhr.open('GET', '/monthChart', false);
            xhr.setRequestHeader('content-type', 'application/JSON');
            xhr.send();

            let jsonData = xhr.responseText;
            console.log(jsonData);

            let data = new google.visualization.DataTable(jsonData);
            let chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));

            chart.draw(data, {
                title: "",
                curveType: "function"
            });
        }
    </script>
</head>
<body>
<nav th:replace="/include/menu.html :: menu"></nav>
<div id="chart">
    <div id="chart_div"></div>
    <div>
        <select>
            <option>전체</option>
            <option>기간</option>
            <option>수입/지출</option>
            <option>금액</option>
            <option>카테고리</option>
        </select>
        <button type="button">삭제</button>
    </div>
    <div>
        <table>
            <tr>
                <th>선택</th>
                <th>날짜</th>
                <th>고정/변동</th>
                <th>카테고리</th>
                <th>제목</th>
                <th>금액</th>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>