<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>내역조회 : 돈매니저</title>
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/chart.css}">
    <!-- js -->
    <script th:src="@{/js/}"></script>
    <!-- 구글 차트 -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.load('visualization','1',{'packages' : ['corechart']});

        google.setOnLoadCallback(drawChart);
        function drawChart() {
            let xhr = new XMLHttpRequest();
            xhr.open('POST', '/monthChart', false);
            xhr.setRequestHeader('content-type', 'application/json');
            xhr.send();

            let jsonData = xhr.responseText;

            let data = new google.visualization.DataTable(jsonData);
            let chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));

            chart.draw(data, {
                title: "",
                curveType: "function"
            });
        }
    </script>
</head>
<body>
<nav th:replace="/include/menu.html :: menu"></nav>
<div id="chart">
    <div class="content">
        <div class="title">
            <span>[[${date}]]</span>
        </div>
        <div id="chart_div"></div>
        <div id="menu">
            <select name="menu">
                <option th:value="${'all'}">전체</option>
                <option th:value="${'term'}">기간</option>
                <option th:value="${'inout'}">수입/지출</option>
                <option th:value="${'price'}">금액</option>
                <option th:value="${'category'}">카테고리</option>
            </select>
            <button type="button">삭제</button>
        </div>
        <div id="table_div">
            <table>
                <tr class="table_top">
                    <th>선택</th>
                    <th>날짜</th>
                    <th>고정/변동</th>
                    <th>카테고리</th>
                    <th>제목</th>
                    <th>금액</th>
                </tr>
                <tr th:each="list : ${list}" class="table_row">
                    <td><input type="checkbox"><input type="hidden" th:value="${list.id}"></td>
                    <td>[[${list.date}]]</td>
                    <td th:text="${list.fix == 'y' ? '고정' : '변동'}"></td>
                    <td>[[${list.name}]]</td>
                    <td>[[${list.title}]]</td>
                    <td th:text="${list.code == '01' ? '+ ' + #numbers.formatInteger(list.price, 3, 'COMMA') : '- ' + #numbers.formatInteger(list.price, 3, 'COMMA')}" th:style="${list.code == '01' ? 'color: #3960FF;' : 'color: #FF3939;'}">[[${list.price}]]</td>
                </tr>
            </table>
        </div>
        <div>
            <table>
                <tr class="table_bottom">
                    <th>전체</th>
                    <td th:text="${#numbers.formatInteger(priceList[0].totalPrice, 3, 'COMMA') + '원'}">[[${priceList[0].totalPrice}]]</td>
                    <th>수입</th>
                    <td th:text="${#numbers.formatInteger(priceList[1].totalPrice, 3, 'COMMA') + '원'}">[[${priceList[1].totalPrice}]]</td>
                    <th>지출</th>
                    <td  th:text="${#numbers.formatInteger(priceList[2].totalPrice, 3, 'COMMA') + '원'}">[[${priceList[2].totalPrice}]]</td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>