<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>자주묻는질문 : 돈매니저</title>
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/mypage.css}">
    <!-- js -->
    <script>
        let xhr = new XMLHttpRequest();
        xhr.open('GET', '/api/faq', true);
        xhr.send();

        xhr.onload = function() {
            if( xhr.status == 200 ) {
                const data = JSON.parse(xhr.response);

                for( i in data ) {
                    let area = document.createElement('div');
                    let question = document.createElement('div');
                    let icon = document.createElement('span');
                    let title = document.createElement('span');
                    let answer = document.createElement('div');

                    icon.innerHTML = 'Q';
                    title.innerHTML = data[i].question;
                    answer.innerHTML = data[i].answer;

                    area.setAttribute('class', 'faq__item');
                    icon.setAttribute('class', 'faq__icon');
                    title.setAttribute('class', 'faq__title');
                    question.setAttribute('class', 'faq__question');
                    answer.setAttribute('class', 'faq__answer');

                    question.appendChild(icon);
                    question.appendChild(title);
                    area.appendChild(question);
                    area.appendChild(answer);

                    document.getElementsByClassName('faq__items')[0].appendChild(area);
                }

            }else{
                alert('통신 실패했습니다. 잠시 후 다시 시도해주세요.');
            }
        }
    </script>
</head>
<body class="body__wrap">
<nav th:replace="/include/menu.html :: nav"></nav>
<div class="div__wrap">
    <!-- 제목 -->
    <div class="header">
        <div class="header__title">
            마이 페이지
            <span class="header__subTitle">자주 묻는 질문</span>
        </div>
    </div>
    <!-- 자주 묻는 질문 -->
    <div class="faq">
        <div class="faq__items"></div>
    </div>
</div>
</body>
</html>