<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>자주묻는질문 : 돈매니저</title>
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/mypage.css}">
    <!-- js -->
    <script>
        let xhr = new XMLHttpRequest();
        xhr.open('POST', '/api/faq', true);
        xhr.send();

        xhr.onload = function() {
            if( xhr.status == 200 ) {
                const data = JSON.parse(xhr.response);

                for( i in data ) {
                    let area = document.createElement('div');
                    let icon = document.createElement('div');
                    let title = document.createElement('span');
                    let content = document.createElement('div');

                    icon.innerHTML = 'Q';
                    title.innerHTML = data[i].question;
                    content.innerHTML = data[i].answer;

                    area.appendChild(icon);
                    area.appendChild(title);
                    area.appendChild(content);

                    document.getElementsByClassName('main')[0].appendChild(area);
                }

            }else{
                alert('통신 실패했습니다. 잠시 후 다시 시도해주세요.');
            }
        }
    </script>
</head>
<body>
<nav th:replace="/include/menu.html :: menu"></nav>
<div class="wrap">
    <div class="header">
        <span class="header_title">마이페이지</span>
    </div>
    <div class="container">
        <span class="container_title">자주 묻는 질문</span>
        <div class="main"></div>
    </div>
</div>
</body>
</html>