<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메인 : 돈매니저</title>
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <!-- js -->
    <script th:inline="javascript">
    function attendCheck(date) {
        let year = [[${year}]];
        let month = [[${month}]];

        const xhr = new XMLHttpRequest();
        xhr.open('POST', '', true);
        xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        xhr.send('year=' + year + '&month=' + month + '&date=' + date);
    }

    function attendList(){
        let day = document.getElementsByClassName('day');
        let today = [[${today}]];

        for( let i=0; i<=31; i++) {
            if( day[i].value == today ) {

            }
        }
    }
    </script>
</head>
<body>
<nav th:replace="/include/menu.html :: menu"></nav>
<div id="calendar">
        <!-- 년도 -->
        <div id="year">
            <a th:href="@{/home/moveCal(year=${year-1}, month=${month})}">&lt;</a>
            <span>[[${year}]]</span>년
            <a th:href="@{/home/moveCal(year=${year+1}, month=${month})}">&gt;</a>
        </div>
        <!-- 출석테이블 -->
        <div id="dateTable">
            <table>
                <tr th:each="row : ${#numbers.sequence(1, rows)}">
                    <td th:each="col : ${#numbers.sequence(1, 7)}">
                        <th:block th:with="date=${ ((col + (7-col)) * (row-1) + col) - start}">
                            <span th:if="${ (date > 0) && (date <= end) }" th:style="${ date == today ? 'color:#EA3B20; border: 5px solid #EA3B20; height: 90%': ''}">
                                <th:block th:if="${date < 10}">0[[${date}]]</th:block>
                                <th:block th:unless="${date < 10}">[[${date}]]</th:block>
                            </span>
                        </th:block>
                    </td>
                </tr>
            </table>
        </div>
        <!-- 월 -->
        <div id="month">
                <span th:each="m : ${#numbers.sequence(1, 12)}">
                    <a th:href="@{/home/moveCal(year=${year}, month=${m})}" th:style="${(m == month) ? 'color:#EA3B20' : 'color: #585858'}"> [[${m}]]월</a>
                </span>
        </div>
</div>
</body>
</html>