<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메인 : 돈매니저</title>
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <!-- js -->
    <script th:inline="javascript">
    const year = [[${year}]];
    const month = [[${month}]];
    const today = new Date();
    const start = [[${start}]] - 1;

    function isDate( day ) {
        if( year == today.getFullYear() && month == (today.getMonth() + 1) && day == today.getDate() ) {
            return true;
        }else {
            return false;
        }
    }

    function attendCheck( day ) {
        if( isDate(day) ) {
            let xhr = new XMLHttpRequest();
            xhr.open('POST', '/home/attendanceCheck', true);
            xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
            xhr.send('day=' + day);

            xhr.onload = function() {
                if( xhr.status == 200 ) {
                    if( xhr.response == -1 ) {
                        alert('잘못된 날짜 선택으로 출석체크가 불가능합니다.');
                    }else if( xhr.response == 0 ){
                        alert('오늘 출석은 이미 완료했습니다. 내일 다시 해주세요!');
                    }else{
                        alert('출석 완료 했습니다.');

                        const index = parseInt(start) + parseInt(day);
                        let img = document.getElementsByClassName('calender__img')[index];
                        img.style.visibility = 'visible';
                    }
                }else{
                    alert('통신 실패했습니다. 잠시 후 다시 시도해주세요.');
                }
            }
        }
    }

    function showAttend() {
        let list = [[${attendList}]];

        for( let i=0; i<list.length; i++ ) {
            for( let j=0; j<=[[${end}]]; j++ ) {
                if( list[i].date == j ) {
                    let img = document.getElementsByClassName('calender__img')[j+ start];
                    img.style.visibility = 'visible';
                }
            }
        }
    }
    </script>
</head>
<body class="body__wrap" th:onload="showAttend()">
<nav th:replace="/include/menu.html :: nav"></nav>
<div class="div__wrap">
    <!-- 날짜 이동 -->
    <div class="header">
        <div class="header__title">
            <a th:href="@{/home/moveCal(year=${year-1}, month=${month})}" class="header__link">&lt;</a>
            <div class="header__wrap">
                <span class="header__year">[[${year}]]</span> 년
            </div>
            <a th:href="@{/home/moveCal(year=${year+1}, month=${month})}" class="header__link">&gt;</a>
        </div>
    </div>
    <!-- 출석체크 -->
    <div class="calender">
        <table class="calender__table">
            <tr th:each="row : ${#numbers.sequence(1, rows)}">
                <th:block th:each="col : ${#numbers.sequence(1, 7)}">
                    <td th:with="date=${ ((col + (7-col)) * (row-1) + col) - start}" class="calender__notToday" th:classappend="${ ((col + (7-col)) * (row-1) + col) - start == today} ? calender__today" th:day="${ ((col + (7-col)) * (row-1) + col) - start}" th:onclick="attendCheck(this.getAttribute('day'))">
                            <span th:if="${ (date > 0) && (date <= end) }" class="calender__date" th:classappend="${ date == today} ? calender__today--color">
                                <th:block th:if="${date < 10}">0[[${date}]]</th:block>
                                <th:block th:unless="${date < 10}">[[${date}]]</th:block>
                            </span>
                        <img th:src="@{/images/rabbit_02.png}" class="calender__img">
                    </td>
                </th:block>
            </tr>
        </table>
    </div>
    <!-- 월 이동 -->
    <div class="month__wrap">
        <div class="month">
            <span th:each="m : ${#numbers.sequence(1, 12)}">
                <a th:href="@{/home/moveCal(year=${year}, month=${m})}" class="month__link" th:classappend="${(m == month)} ? month__link--color"> [[${m}]]월</a>
            </span>
        </div>
    </div>
</div>
</body>
</html>