<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/mainLayout}" th:with="pageTitle='작성하기 : 돈매니저'">
<th:block layout:fragment="main">
    <main class="page page-ledger-write common">
        <!-- 상단 : 제목 -->
        <section class="write-header">
            <h1 class="write-header__title">작성하기</h1>
        </section>

        <!-- 본문 : 유형과 날짜 선택 -->
        <section class="write-body">
            <!-- 수입/지출 선택 -->
            <div class="write-type">
                <span class="write-type__guide">아래에서 수입/지출 중 하나를 선택해주세요.</span>

                <div class="write-type__options" th:each="type, iterStat : ${ledger.types}">
                    <input id="'write-' + ${type.value}" class="form__input form__input--radio" name="type" type="radio" value="${type.value}" th:checked="${iterStat.first}">
                    <label class="form__label" for="'write-' + ${type.value}"></label>
                </div>
            </div>

            <!-- 날짜 선택 -->
            <div class="write-date">
                <p class="write-date__guide">작성할 날짜를 선택해주세요.</p>

                <div class="write-date__select-box">
                    <label class="write-date__label">
                        <select class="write__select" name="year">
                            <option disabled >년</option>
                            <option th:each="year : ${ledger.years}" th:value="${year}" th:selected="${year} == ${ledger.currentYear}">
                                [[${year}]]년
                            </option>
                        </select>
                    </label>
                    <label class="write__date-label">
                        <select class="write__select" name="month">
                            <option disabled>월</option>
                            <option th:each="month : ${ledger.month}" th:value="${month}" th:selected="${month} == ${ledger.currentMonth}">
                                [[${month}]]월
                            </option>
                        </select>
                    </label>
                    <label class="write__date-label">
                        <select class="write__select" name="day">
                            <option disabled>일</option>
                            <option th:each="day: ${ledger.days}" th:value="${day}" th:selected="${day} == ${ledger.currentDay}">
                                [[${day}]]일
                            </option>
                        </select>
                    </label>
                </div>

                <!-- 선택한 날짜 문구 표시 -->
                <div class="write-date__result">
                    <strong th:text="${ledger.displayDate}"></strong>
                </div>
            </div>
        </section>

        <!-- 하단 -->
        <section class="write-footer">
            <button class="button button--medium button--default">다음</button>
        </section>
    </main>
</th:block>
<th:block layout:fragment="pageScript">
    <script src="/js/pages/ledger-write.js"></script>
</th:block>
</html>