<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/mainLayout}" th:with="pageTitle='작성하기 : 돈매니저'">
<th:block layout:fragment="main">
    <main class="page page-ledger page-ledger-write" th:classappend="${ledger.type.urlCode}">
        <!-- 상단 : 제목 -->
        <section class="ledger-header">
            <header>
                <h1 class="ledger-header__title" th:text="${ledger.title}"></h1>
                    <small class="ledger-header__type">[[${ledger.type.label}]]</small>
            </header>
        </section>

        <!-- 본문 : 작성폼 -->
        <section class="ledger-body">
            <form class="form" th:action="@{/ledgers/write}" method="post" enctype="multipart/form-data"  th:object="${ledger}">
                <!-- 고정/변동 영역 -->
                <div class="form__field form__field--fix">
                    <label class="form__label">고정/변동</label>
                    <div class="form__input-container form__input-container--fix">
                        <section class="form__input-box form__input-box--main">
                            <label class="form__label" th:each="fix : *{fixed}">
                                <input class="form__input form__input--radio" type="radio" th:value="${fix.value}" th:checked="${fix.value == defaultFix}">[[${fix.label}]]
                            </label>
                        </section>
                    </div>
                </div>

                <!-- 카테고리 영역 -->
                <fieldset class="form__field form__field--category">
                    <legend class="form__label form__label--essential" id="write-category">카테고리</legend>
                    <div class="form__input-box form__input-box--category">
                        <select class="form__select form__select--middle" aria-labelledby="write-category">
                            <option value="">-- 선택없음 --</option>
                            <option th:each="category : *{categories}" th:value="${category.code}">[[${category.name}]]</option>
                        </select>
                    </div>
                </fieldset>

                <!-- 메모 영역 -->
                <div class="form__field form__field--memo">
                    <label class="form__label">메모</label>
                    <div class="form__input-box form__input-box--memo">
                        <label>
                            <textarea name="memo" placeholder="내용을 입력해주세요." cols="60" rows="4" maxlength="150"></textarea>
                        </label>
                    </div>
                </div>

                <!-- 금액 영역 -->
                <div class="form__field form__field--price">
                    <label class="form__label form__label--essential">금액</label>
                    <div class="form__input-container form__input-container--price">
                        <!-- 금액 입력 -->
                        <section class="form__input-box form__input-box--main">
                            <label>
                                <input class="form__input form__input--text" name="price" type="text" placeholder="금액을 입력해주세요.">
                            </label>
                        </section>

                        <!-- 금액 유형 -->
                        <section class="form__input-box form__input-box--type">
                            <label th:each="type : *{paymentTypes}">
                                <input class="form__input form__input--radio" name="paymentType" type="radio" th:value="${type.dbCode}" th:checked="${type.dbCode == defaultPaymentType}">
                                <th:block th:utext="${type.svg}"></th:block>
                            </label>
                        </section>
                    </div>
                </div>

                <!-- 사진 영역 -->
                <div class="form__field form__field--photo">
                    <label class="form__label">사진</label>
                    <div class="form__input-box form__input-box--photo">
                        <label th:each="slot : *{imageSlot}" class="form__label">
                            <th:block th:if="${slot}">
                                <input class="form__input form__input--file" name="image" type="file" accept=".gif, .jpg, .png">
                                <svg class="icon icon--enabled" viewBox="0 0 27 27" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M24.1667 1H3.33333C2.18274 1 1.25 1.93274 1.25 3.08333V23.9167C1.25 25.0673 2.18274 26 3.33333 26H24.1667C25.3173 26 26.25 25.0673 26.25 23.9167V3.08333C26.25 1.93274 25.3173 1 24.1667 1Z" stroke-linejoin="round"/>
                                    <path d="M13.75 7.94434V19.0554M8.19446 13.4999H19.3056" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </th:block>
                            <th:block th:unless="${slot}">
                                <svg class="icon icon--disabled" viewBox="0 0 27 27" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M23.9167 1H3.08333C1.93274 1 1 1.93274 1 3.08333V23.9167C1 25.0673 1.93274 26 3.08333 26H23.9167C25.0673 26 26 25.0673 26 23.9167V3.08333C26 1.93274 25.0673 1 23.9167 1Z" stroke-linejoin="round"/>
                                    <path d="M10.2361 17.6668V12.1113H11.6647V11.1853C11.6647 10.6696 11.8496 10.2321 12.2194 9.87285C12.589 9.51328 13.039 9.3335 13.5694 9.3335C14.0999 9.3335 14.5501 9.51328 14.9199 9.87285C15.2898 10.2324 15.4745 10.6699 15.4742 11.1853V12.1113H16.9028V17.6668H10.2361ZM13.5694 15.5835C13.7704 15.5835 13.9396 15.5165 14.0771 15.3826C14.2148 15.2489 14.2837 15.0844 14.2837 14.8891C14.2837 14.6937 14.2148 14.5292 14.0771 14.3955C13.9393 14.2619 13.7701 14.1949 13.5694 14.1946C13.3688 14.1943 13.1996 14.2613 13.0618 14.3955C12.9241 14.5292 12.8552 14.6937 12.8552 14.8891C12.8552 15.0844 12.9241 15.2489 13.0618 15.3826C13.1993 15.5165 13.3685 15.5835 13.5694 15.5835ZM12.1409 12.1113H14.998V11.1853C14.998 10.7995 14.8591 10.4716 14.5814 10.2016C14.3036 9.93149 13.9663 9.79646 13.5694 9.79646C13.1726 9.79646 12.8353 9.93149 12.5575 10.2016C12.2798 10.4716 12.1409 10.7995 12.1409 11.1853V12.1113Z"/>
                                </svg>
                            </th:block>
                        </label>
                    </div>
                </div>

                <!-- 위치 영역 -->
                <div class="form__field form__field--location">
                    <label class="form__label">위치</label>
                    <div class="form__input-container form__input-container--location">
                        <div class="form__input-box form__input-box--empty">
                            <img th:src="@{/image/location.png}" alt="위치 아이콘">
                            <span>위치를 입력해주세요</span>
                        </div>
                    </div>
                </div>

                <!-- 버튼 -->
                <div class="form__actions">
                    <button class="button button--medium button--cancel" type="button" >이전</button>
                    <button class="button button--medium button--default" type="button">작성</button>
                </div>
            </form>
        </section>
    </main>
</th:block>
<th:block layout:fragment="pageScript">
    <script src="/js/pages/ledger-write.js"></script>
</th:block>
</html>