<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공지사항 : 돈매니저</title>
    <!-- css -->
  <link rel="stylesheet" th:href="@{/css/notice.css}">
</head>
<body class="body__wrap">
<nav th:replace="/include/menu.html :: nav"></nav>
<div class="div__wrap">
  <!-- 제목 -->
  <div class="header">
    <div class="header__title">
      <span>공지 사항</span>
    </div>
  </div>
  <!-- 공지사항 상세 -->
  <div class="detail">
    <div class="detail__items">
        <div class="detail__title">[(${notice.type})] [[${notice.title}]]</div>
        <span class="detail__date" th:text="${#dates.format(notice.regDate, 'yyyy년 MM월 dd일 E요일')}"></span>
    </div>
    <div class="detail__items detail__content">
      [[${notice.content}]]
    </div>
  </div>
  <!-- 버튼 -->
  <div class="button__count--01">
    <button type="button" class="button__size--medium button__default" th:onclick="location.href=document.referrer">확인</button>
  </div>
</div>
</body>
</html>