<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공지사항 : 돈매니저</title>
    <!-- css -->
  <link rel="stylesheet" th:href="@{/css/notice.css}">
</head>
<body>
<nav th:replace="/include/menu.html :: menu"></nav>
<div>
  <div>
    <span>공지사항</span>
  </div>
  <div>
    <div>
      <div>[(${notice.type})] [[${notice.title}]]</div>
      <span th:text="${#dates.format(notice.regDate, 'yyyy년 MM월 dd일 E요일')}"></span>
    </div>
    <div>
      <textarea>[[${notice.content}]]</textarea>
    </div>
  </div>
  <div>
    <button type="button" th:onclick="location.href=document.referrer">확인</button>
  </div>
</div>
</body>
</html>