<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Q &amp; A : 돈매니저</title>
  <!-- css -->
  <link rel="stylesheet" th:href="@{/css/qna.css}">
  <!-- js -->
  <script th:src="@{/js/qna.js}"></script>
  <link rel="stylesheet" th:href="@{//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css}" type="text/css"/>
  <!-- jquery datepicker -->
  <script th:src="@{https://code.jquery.com/jquery-3.6.0.js}"></script>
  <script th:src="@{https://code.jquery.com/ui/1.13.2/jquery-ui.js}"></script>
  <script>
    $(function() {
      $("#start").datepicker({
        changeMonth: "true",
            changeYear: "true",
            showMonthAfterYear : "true",
            yearRange: "c-5:c",
            yearSuffix: "년",
            dateFormat: "yymmdd",
            dayNames: ["일요일", "월요일", "화요일", "수요일", "목요일", "금요일", "토요일"],
            dayNamesMin: ["일", "월", "화", "수", "목", "금", "토"],
            monthNames: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
            monthNamesShort: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"],
            nextText: "다음달",
            prevText: "이전달",
            maxDate: 0,
            onClose: function( selectedDate ) {
                $("#end").datepicker("option", "minDate", selectedDate);
            }
        });
    });

    $(function() {
        $("#end").datepicker({
            changeMonth: "true",
            changeYear: "true",
            yearRange: "c-5:c",
            yearSuffix: "년",
            dateFormat: "yymmdd",
            dayNames: ["일요일", "월요일", "화요일", "수요일", "목요일", "금요일", "토요일"],
            dayNamesMin: ["일", "월", "화", "수", "목", "금", "토"],
            monthNames: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
            monthNamesShort: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"],
            nextText: "다음달",
            prevText: "이전달",
            maxDate: 0
        });
    });
  </script>
</head>
<body>
<nav th:replace="/include/menu.html :: menu"></nav>
<div class="wrap">
  <!-- 헤더 -->
  <div class="header">
    <span class="header__title">Q&amp;A</span>
  </div>
  <!-- 본문 -->
  <div class="container">
    <div class="submenu">
      <div class="search">
        <form method="get" th:action="@{/qna}" class="search-form">
          <div class="search-area">
            <select class="search__select" name="type" th:onchange="changeSearch( this )">
              <option th:value="all" th:selected="${search.type} == 'all'">전체</option>
              <option th:value="title" th:selected="${search.type} == 'title'">제목</option>
              <option th:value="writer" th:selected="${search.type} == 'writer'">작성자</option>
              <option th:value="period" th:selected="${search.type} == 'period'">기간</option>
            </select>
          </div>
          <div class="search-area" th:style="'display: none'">
            <div class="search-box box__display_none">
              <input type="text" class="search__input_text" placeholder="검색할 제목을 입력해주세요.">
            </div>
            <div class="search-box box__display_none">
              <input type="text" class="search__input_text" placeholder="검색할 작성자를 입력해주세요.">
            </div>
            <div class="search-box box__display_none">
              시작일: <input type="text" class="search__input_text" id="start" readonly> - 종료일: <input type="text" class="search__input_text" id="end" readonly>
            </div>
            <button type="button" th:onclick="checkSearch()">검색</button>
          </div>
        </form>
      </div>
      <div class="btn">
        <div class="btn-area">
          <button type="button" th:onclick="location.href='/qna/write'">등록</button>
        </div>
      </div>
    </div>
    <!-- 내용 -->
    <div class="main">
      <table class="main__table">
        <thead class="main__table_head">
        <tr>
          <td>번호</td>
          <td>제목</td>
          <td>날짜</td>
          <td>작성자</td>
        </tr>
        </thead>
        <tbody class="main__table_body">
        <tr th:if="${#lists.size(qnaList)} == 0">
          <td colspan="4">등록된 글이 없습니다.</td>
        </tr>
        <tr th:unless="${#lists.size(qnaList)} == 0" th:each="qna : ${qnaList}">
          <td>[[${qna.num}]]</td>
          <td>
            <a th:if="${qna.open} == 'y'" th:href="@{/qna/detail/{id}(id = ${qna.id})}">[[${qna.title}]]</a>
            <a th:unless="${qna.open} == 'y'" th:qna="${qna.id}" th:onclick="checkMember( this.getAttribute('qna') )"><img src="/image/qnaLock.png" th:style="${'width: 20px;'}">비밀글입니다.</a>
          </td>
          <td th:text="${#dates.format(qna.regDate, 'yyyy-MM-dd')}"></td>
          <td>[[${qna.nickName}]]</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- 하단 -->
  <div class="footer">
    <div class="page" th:each="page : ${paging}">
      <ul class="page__ul">
        <li class="page__li" th:style="${page.isPrev ? 'display: inline' : 'display: none'}"><a th:href="@{/qna/(type=${search.type}, keyword=${search.keyword}, startDate=${search.startDate}, endDate=${search.endDate}, page = ${page.startPage - 1})}">&lt; 이전</a></li>
        <li class="page__li" th:each="num : ${#numbers.sequence( page.startPage, page.endPage )}">
          <a th:href="@{/qna/(type=${search.type}, keyword=${search.keyword}, startDate=${search.startDate}, endDate=${search.endDate}, page=${num})}">[[${num}]]</a>
        </li>
        <li class="page__li" th:style="${page.isNext ? 'display: inline' : 'display: none'}"><a th:href="@{/qna/(type=${search.type}, keyword=${search.keyword}, startDate=${search.startDate}, endDate=${search.endDate}, page = ${page.endPage + 1})}">다음 &gt;</a></li>
      </ul>
    </div>
  </div>
</div>
</body>
</html>