<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Q&amp;A : 돈매니저</title>
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/qna.css}">
</head>
<body class="body__wrap">
<nav th:replace="/include/menu.html :: nav"></nav>
<div class="div__wrap">
    <!-- 제목 -->
    <div class="header">
        <div class="header__title">
            Q &amp; A
        </div>
    </div>
    <div class="detail">
        <!-- 질문 -->
        <div class="question">
            <table  class="question__table">
                <tr>
                    <th class="question__table__title">날짜</th>
                    <td th:text="${#dates.format(question.date, 'yyyy년 MM월 dd일 E요일')}"></td>
                    <th class="question__table__title">작성자</th>
                    <td>[[${question.writer}]]</td>
                </tr>
                <tr>
                    <th class="question__table__title">제목</th>
                    <td colspan="3">[[${question.title}]]</td>
                </tr>
                <tr>
                    <th class="question__table__title">내용</th>
                    <td colspan="3">
                        <div th:utext="${question.content}"></div>
                    </td>
                </tr>
            </table>
        </div>
        <!-- 답변 -->
        <div class="answer">
            <table th:if="${answer == null}" class="answer__table">
                <tr class="answer__title">
                    <th>답변</th>
                </tr>
                <tr class="answer__content">
                    <td>답변이 아직 등록되지 않았습니다.</td>
                </tr>
            </table>
            <table th:unless="${answer == null}" class="answer__table">
                <tr class="answer__title">
                    <th>답변</th>
                </tr>
                <tr class="answer__content">
                    <td>
                        <div>[[${answer.content}]]</div>
                        <div class="font__color--gray ">
                            <span th:text="${#dates.format(answer.date, 'yyyy.MM.dd')}"></span>
                            <span>[[${answer.writer}]]</span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- 버튼 -->
    <div class="button__count--01">
        <button type="button" class="button__size--medium button__default" th:onclick="location.href=document.referrer">확인</button>
    </div>
</div>
</body>
</html>