<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>수입 작성 : 돈매니저</title>
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/write.css}">
    <!-- js -->
    <script th:src="@{/js/write.js}"></script>
</head>
<body>
<nav th:replace="/include/menu.html :: menu"></nav>
<form id="write" enctype="multipart/form-data" method="post" th:action="@{/write/accountBook}">
        <div id="wContent">
            <div class="title">
                [[${formatDate}]]<br>
                <input type="hidden" name="accountDate" th:value="${accountDate}">
                <span>수입</span>
            </div>
            <div class="wMain">
                <div class="wArea fixs">
                    <h3 class="write_title">
                        <label>고정/변동</label>
                    </h3>
                    <div th:style="${'display: inline-block;'}">
                        <div th:onchange="showOption()">
                            <label><input type="radio" name="fix" id="fix" th:value="${'y'}"> 고정</label>
                            <label><input type="radio" name="fix" th:value="${'n'}" checked> 변동</label>
                        </div>
                        <div id="fixOption" th:style="${'padding-top: 20px;'}">
                            <label><input type="radio" name="fixOption" class="fixCycle" th:value="y">일년</label>
                            <label><input type="radio" name="fixOption" class="fixCycle" th:value="m">한달</label>
                            <label><input type="radio" name="fixOption" class="fixCycle" th:value="w">일주일</label>
                        </div>
                    </div>
                </div>
                <div class="wArea">
                    <h3 class="write_title">
                        <label>카테고리</label>
                    </h3>
                    <select name="categoryM" class="wCategory" id="categoryL" onchange="changeCategory( this )">
                        <option th:value="${'00'}">선택없음</option>
                        <option th:value="${'010100'}">월급</option>
                        <option th:value="${'010200'}">용돈</option>
                        <option th:value="${'010300'}">알바</option>
                    </select>
                    <input type="hidden" name="category" id="category">
                </div>

                <div class="wArea">
                    <h3 class="write_title">
                        <label>제목</label>
                    </h3>
                    <input type="text" placeholder="제목을 입력해주세요." name="title" class="wTitle" maxlength="50">
                </div>

                <div class="wArea wContent">
                    <h3 class="write_title">
                        <label>내용</label>
                    </h3>
                    <textarea cols="60" rows="5" placeholder="내용을 입력해주세요." name="content" maxlength="300"></textarea>
                </div>

                <div class="wArea">
                    <h3 class="write_title">
                        <label>금액</label>
                    </h3>
                    <input type="text" placeholder="금액을 입력해주세요." name="price" class="wPrice" th:onkeyup="checkPrice( this )">
                    <select name="priceType" class="wCategory" id="priceType">
                        <option th:value="${''}">선택없음</option>
                        <option th:value="${'ca'}">현금</option>
                        <option th:value="${'de'}">체크카드</option>
                        <option th:value="${'cr'}">신용카드</option>
                        <option th:value="${'ba'}">계좌이체</option>
                    </select>
                </div>

                <div class="wArea">
                    <h3 class="write_title">
                        <label>사진</label>
                    </h3>
                    <th:block th:each="num : ${#numbers.sequence(1, 3)}">
                        <label th:if="${num <= maxImage}"><input type="file" name="images" th:style="${'display:none;'}" class="img" accept=".gif, .jpg, .png"><img src="/image/imageUnLock.png" th:id="${'img' + (num-1)}" th:style="${'cursor: pointer'}"/></label>
                        <label th:style="${'pointer-events: none;'}" th:unless="${num <= maxImage}"><input type="file" name="images" th:style="${'display:none;'}" class="img"><img src="/image/imageLock.png" th:id="${'img' + (num-1)}"/></label>
                    </th:block>
                    <script>
                        let img = document.querySelectorAll('.img');
                        for( let i=0; i < img.length; i++ ) {
                            img[i].addEventListener("change", function() {
                                if( this.files && this.files[0] ) {
                                    let reader = new FileReader();
                                    reader.onload = function(e) {
                                        document.getElementById('img' + i).src = e.target.result;
                                    };
                                    reader.readAsDataURL(this.files[0]);
                                } else{
                                    document.getElementById('img' + i).src = '/image/imageUnLock.png';
                                }
                            });
                        }
                    </script>
                </div>

                <div class="wArea">
                    <h3 class="write_title">
                        <label>위치</label>
                    </h3>
                    <img src="/image/location.png" class="map" onclick="openMapPop()">
                    <label id="mapInput">위치를 입력해주세요.</label>
                    <div id="location">
                        <span  id="locationName"></span><input type="hidden" name="mapName" id="mapName"><br>
                        <span id="locationRoad"></span><input type="hidden" name="mapRoad" id="mapRoad" ><br>
                        <span id="locationAddr"></span><input type="hidden" id="mapAddr" name="mapAddr">
                    </div>
                </div>
            </div>
            <div id="btnGroup">
                <button type="button" class="btn cancel"  onclick="history.back()">이전</button>
                <button class="btn confirm" th:onclick="return writeCheck()">완료</button>
            </div>
        </div>
</form>
</body>
</html>