<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>작성하기 : 돈매니저</title>
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/write.css}">
    <!-- js -->
    <script th:src="@{/js/write.js}"></script>
</head>
<body>
<nav th:replace="/include/menu.html :: menu"></nav>
<div id="write">
    <div class="content">
        <div class="title" onclick="location.href='/write'">
            작성하기<br>
        </div>
        <form method="post" th:action="@{/write}">
            <div class="type">
                <span>아래에서 수입/지출 중 하나를 선택해주세요.</span><br>
                <div class="typeBtn">
                    <input type="radio" id="typeIn" name="code" th:value="${category[0].code}" checked><label for="typeIn"></label>
                    <input type="radio" id="typeOut" name="code" th:value="${category[1].code}"> <label for="typeOut"></label>
                </div>
            </div>
            <div>
                <span>작성할 날짜를 선택해주세요.</span><br>
                <div>
                    <select id="selectYear" name="year">
                        <option th:each="wYear : ${#numbers.sequence(year, year-5)}" th:value="${wYear}" th:selected="${wyear} == ${year}">
                            [[${wYear}]]
                        </option>
                    </select>
                    <select id="selectMonth" name="month">
                        <option th:each="wMonth : ${#numbers.sequence(1, 12)}" th:value="${wMonth}" th:selected="${wMonth} == ${month}">
                            [[${wMonth}]]
                        </option>
                    </select>
                    <select id="selectDate" name="date">
                        <option th:each="wDate : ${#numbers.sequence(1, end)}" th:value="${wDate}" th:selected="${wDate} == ${date}">
                            [[${wDate}]]
                        </option>
                    </select>
                </div>
            </div>
            <div id="aloneBtn">
                <button class="confirm" >다음</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>