<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" monitorInterval="5">
    <!--공통 속성 설정 -->
    <Properties>
        <Property name="logFileName">moneyManager</Property>
        <Property name="consoleLayout">%highlight{[%-5level]}{FATAL=bg_red, ERROR=red, INFO=green, DEBUG=blue} %style{%d{yyyy-MM-dd HH:mm:ss}:%-3relative}{cyan}    %style{[%M]}{yellow} %logger{35} - %msg%n</Property>
        <Property name="fileLayout">%d [%t] %-5level %c(%M:%L) - %m%n</Property>
    </Properties>

    <!-- 로그 출력 방법 및 file 생성 설정 -->
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${consoleLayout}" disableAnsi="false" />
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>
        <!--ConsoleAppender, RollingFileAppneder -->
        <RollingFile name="file"
                     fileName="logs/main/${logFileName}.log"
                     filePattern="logs/main/%d{yyyy-MM-dd} ${logFileName}.log">
            <PatternLayout pattern="${fileLayout}" />
            <LevelRangeFilter minLevel="DEBUG" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <MarkerFilter marker="SYSTEM_INFO" onMatch="DENY" onMismatch="ACCEPT"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="5" fileIndex="min" > <!-- 롤링 파일 5개 까지 생성 -->
                <Delete basePath="/logs" maxDepth="3">
                    <IfLastModified age="10d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="system-info"
                     fileName="logs/info/system-info.log"
                     filePattern="logs/info/%d{yyyy-MM-dd} system-info.log">
            <PatternLayout pattern="${fileLayout}"/>
            <LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <MarkerFilter marker="SYSTEM_INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="20MB" />
            </Policies>
        </RollingFile>

        <!-- 사용자 입력 WARN -->
        <RollingFile name="warn-client"
                     fileName="logs/warn/client-warn.log"
                    filePattern="logs/warn/%d{yyyy-MM-dd} client-warn.log">
            <PatternLayout pattern="${fileLayout}"/>
            <LevelRangeFilter minLevel="WARN" maxLevel="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
            <MarkerFilter marker="USER_WARN" onMatch="ACCEPT" onMismatch="DENY"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="20MB" />
            </Policies>
        </RollingFile>

        <!-- 시스템 예방 WARN -->
        <RollingFile name="warn-system"
                            fileName="logs/warn/system-warn.log"
                            filePattern="logs/warn/%d{yyyy-MM-dd} client-warn.log">
            <PatternLayout pattern="${fileLayout}"/>
            <LevelRangeFilter minLevel="WARN" maxLevel="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
            <MarkerFilter marker="USER_WARN" onMatch="DENY" onMismatch="ACCEPT"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="20MB" />
            </Policies>
        </RollingFile>

        <RollingFile name="error"
                     fileName="logs/error/system-error.log"
                     filePattern="logs/error/%d{yyyy-MM-dd} system-error.log">
            <PatternLayout pattern="${fileLayout}" />
            <!--LevelRangeFilter필터를 사용할때에 단일 level의 필터만 허용한다. -->
            <LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="20 MB" />
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="/logs" maxDepth="3">
                    <IfLastModified age="10d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <!--TRACE > DEBUG > INFO > WARN > ERROR > FATAL -->
    <!--Log가 찍힐 대상 설정.-->
    <Loggers>
        <!-- 스프링 프레임워크에서 찍는건 level을 info로 설정 -->
        <logger name="com.moneymanager" level="debug" additivity="false" >
            <AppenderRef ref="main" />
        </logger>

        <logger name="com.moneymanager.controller" level="info" additivity="false" >
            <AppenderRef ref="console" />
        </logger>

        <logger name="com.moneymanager.service" level="info" additivity="false" >
            <AppenderRef ref="console" />
        </logger>

        <Logger name="com.moneymanager.utils.LoggerUtil" level="debug" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="warn-client"/>
            <AppenderRef ref="system-info" />
        </Logger>

        <Logger name="org.springframework.web" level="error" additivity="false">
            <AppenderRef ref="error" />
        </Logger>

        <!-- ROOT logger-->
        <Root level="info">
            <AppenderRef ref="file" />
            <AppenderRef ref="console" />

            <AppenderRef ref="warn-user"/>
            <AppenderRef ref="warn-system"/>
            <AppenderRef ref="error" />
            <AppenderRef ref="info" />
        </Root>

    </Loggers>
</Configuration>