<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" monitorInterval="5">
    <!--공통 속성 설정 -->
    <Properties>
        <Property name="consoleLayout">%highlight{[%-5level]}{FATAL=bg_red, ERROR=red, INFO=green, DEBUG=blue} %style{%d{yyyy-MM-dd HH:mm:ss}:%-3relative}{cyan}    %style{[%M]}{yellow} %logger{35} - %msg%n</Property>
        <Property name="fileLayout">%d  %m%n</Property>
    </Properties>

    <!-- 로그 출력 방법 및 file 생성 설정 -->
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${consoleLayout}" disableAnsi="false" />
        </Console>

        <!--ConsoleAppender, RollingFileAppneder -->
        <RollingFile name="info-file"
                            fileName="logs/info/system-info.log"
                            filePattern="logs/info/system-info-%d{yyyy-MM-dd}-%i.log">

            <PatternLayout pattern="${fileLayout}"/>

            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="20MB"/>
            </Policies>

            <DefaultRolloverStrategy max="30"/>
        </RollingFile>

        <RollingFile name="error-file"
                            fileName="logs/error/system-error.log"
                     filePattern="logs/error/system-error-%d{yyyy-MM-dd}-%i.log">

            <PatternLayout pattern="${fileLayout}"/>

            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="20MB"/>
            </Policies>

            <DefaultRolloverStrategy max="30"/>
        </RollingFile>

        <RollingFile name="debug-file"
                            fileName="logs/debug/developer-debug.log"
                     filePattern="logs/debug/system-debug-%d{yyyy-MM-dd}-%i.log">

            <PatternLayout pattern="${fileLayout}"/>

            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="20MB"/>
            </Policies>

            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
    </Appenders>

    <!--TRACE > DEBUG > INFO > WARN > ERROR > FATAL -->
    <!--Log가 찍힐 대상 설정.-->
    <Loggers>
        <!-- 스프링 프레임워크에서 찍는건 level을 info로 설정 -->
        <logger name="com.moneymanager.global.log"
                      level="DEBUG"
                    additivity="false">

            <AppenderRef ref="info-file">
                <LevelRangeFilter
                        minLevel="WARN"
                        maxLevel="INFO"
                        onMatch="ACCEPT"
                        onMismatch="DENY"/>
            </AppenderRef>

            <AppenderRef ref="debug-file">
                <LevelRangeFilter
                    minLevel="DEBUG"
                    maxLevel="DEBUG"
                    onMatch="ACCEPT"
                    onMismatch="DENY"/>
            </AppenderRef>

            <AppenderRef ref="error-file">
                <LevelRangeFilter
                        minLevel="ERROR"
                        maxLevel="ERROR"
                        onMatch="ACCEPT"
                        onMismatch="DENY"/>
            </AppenderRef>
        </logger>

        <!-- ROOT logger-->
        <Root level="DEBUG">
            <AppenderRef ref="console" />

            <AppenderRef ref="info-file">
                <LevelRangeFilter
                        minLevel="INFO"
                        maxLevel="WARN"
                        onMatch="ACCEPT"
                        onMismatch="DENY"/>
            </AppenderRef>
        </Root>

    </Loggers>
</Configuration>