<nav xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="menu">
  <div id="menu_top">
    <div class="profile">
      <img src="/image/default.png">
      <div>
        <span>초코아이스크림</span>님<br>
        환영합니다.<br>
        <a>로그아웃</a>
      </div>
    </div>
  </div>
  <div id="menu_bottom">
    <ul>
      <li class="liMenu"><a>홈</a></li>
      <li class="liMenu"><a>작성하기</a></li>
      <li class="liMenu"><a>내역조회</a></li>
      <li class="liMenu"><a>마이페이지</a></li>
      <li class="liMenu"><a>공지사항</a></li>
      <li class="liMenu"><a>Q&amp;A</a></li>
    </ul>
  </div>
</nav>