<nav xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:fragment="menu">
  <div id="menu_top">
    <div class="profile">
      <img th:src="${session.profile == null ? '/image/default.png' : '/image/profile/' + session.profile}">
      <div>
        <span>[[${session.nickName}]]</span>님<br>
        환영합니다.<br>
        <a th:href="@{/}">로그아웃</a>
      </div>
    </div>
  </div>
  <div id="menu_bottom">
    <ul>
      <li class="liMenu"><a th:href="@{/home}">홈</a></li>
      <li class="liMenu"><a th:href="@{/write}">작성하기</a></li>
      <li class="liMenu"><a th:href="@{/accountList}">내역조회</a></li>
      <li class="liMenu"><a th:href="@{/myPage}">마이페이지</a></li>
      <li class="liMenu"><a th:href="@{/notice}">공지사항</a></li>
      <li class="liMenu"><a>Q&amp;A</a></li>
    </ul>
  </div>
</nav>