<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>아이디 찾기 : 돈매니저</title>
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/find.css}">
</head>
<body>
<!-- 제목 -->
<div class="header">
    <div class="header__title">
        계정찾기
        <span class="header__subTitle">돈매니저</span>
    </div>
</div>
<!-- 찾기 결과 -->
<div class="find">
    <div class="find__title">
        <span class="find__info">아이디 찾기 결과</span>
    </div>
    <div class="find__guide">
        <div class="find__guide--info" th:utext="${msg}"></div>
        <div class="find__guide--id">
            <p>
                찾으시는 아이디는 <span class="find__id">[[${id}]]</span> 입니다.
                <span class="find__date">[[${date}]]</span>
            </p>
        </div>
    </div>
</div>
<!-- 버튼 -->
<div class="button__count--02">
    <button type="button" class="button__size--medium button__cancel" th:onclick="location.href='/'">로그인</button>
    <button type="button" class="button__size--medium button__confirm" th:onclick="location.href='/members/join'">회원가입</button>
</div>
</body>
</html>