<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>아이디 찾기 : 돈매니저</title>
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/find.css}">
</head>
<body>
<div id="helpId">
    <div class="title" onclick="location.href='/'">
        계정찾기<br>
        <span>돈 매니저</span>
    </div>
    <div class="content">
        <div class="subTitle">아이디 찾기 결과</div>
        <div class="msg msgOk" th:utext="${msg}"></div>
        <div class="subContent">
            찾으시는 아이디는 <span id="point1" th:text="${id}"></span> 입니다.<br>
            <span id="lastDate">[[${date}]]</span>
        </div>
    </div>
    <div id="btnGroup">
        <button type="button" class="btn" onclick="location.href='/'">로그인</button>
        <button type="button" class="btn confirm" onclick="location.href='/helpPwd'">비밀번호찾기</button>
    </div>
</div>
</body>
</html>