<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>계정 찾기 : 돈 매니저</title>
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/help.css}">
    <!-- js -->
    <script src="/js/help.js"></script>
</head>
<body>
<!-- 제목 -->
<div class="header">
    <div class="header__title">
        계정찾기
        <span class="header__subTitle">돈매니저</span>
    </div>
</div>
<!-- 찾기 입력 -->
<div class="help">
    <div class="tab">
        <a class="tab__item tab__item--focus">
            <span class="tab__info">아이디</span>
        </a>
        <a class="tab__item" th:href="@{/help/password}">
            <span class="tab__info">비밀번호</span>
        </a>
    </div>
    <div class="help__wrap">
        <form method="post" th:action="@{/help/find-id}" th:object="${member}" class="help__form">
            <div class="help__item">
                <span class="help__title">이름</span>
                <input type="text" class="input" name="name" maxlength="10" th:onblur="nameCheck( this )">
                <span class="msg__error"></span>
            </div>
            <div class="help__item">
                <span class="help__title">이메일</span>
                <input type="text" class="input" name="email" th:onblur="emailCheck( this )">
                <span class="msg__error"></span>
            </div>
            <div class="button__count--01">
                <button class="button__size--big button__confirm" th:onclick="return helpId()">아이디 찾기</button>
            </div>
        </form>
    </div>
</div>
<!-- 링크 -->
<div class="link">
    <a class="link__item" th:href="@{/}">로그인</a>
    <a class="link__item" th:href="@{/join}">회원가입</a>
</div>
</body>
</html>