<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입 : 돈매니저</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/join.css">
    <!-- js -->
    <script src="/js/join.js"></script>
</head>
<body>
<!-- 제목 -->
    <div class="header">
        <div class="header__title">
            돈 매니저
            <span class="header__subTitle">회원가입</span>
        </div>
    </div>
<!-- 회원가입 -->
    <div class="join">
        <form method="post" th:action="@{/members/join}" th:object="${member}" class="join__form">
            <div class="join__item">
                <span class="join__title">아이디</span>
                <input type="text" name="id" class="input" placeholder="아이디를 입력해주세요." maxlength="15" th:onblur="idCheck( this )">
                <span class="msg__error"></span>
            </div>
            <div class="join__item">
                <span class="join__title">비밀번호</span>
                <input type="password" name="password" class="input" placeholder="비밀번호를 입력해주세요." maxlength="20" th:onblur="pwdCheck( this )">
                <span class="msg__error"></span>
            </div>
            <div class="join__item">
                <span class="join__title">비밀번호 확인</span>
                <input type="password" class="input" placeholder="비밀번호를 재입력해주세요." maxlength="20" th:onblur="rePwdCheck( this )">
                <span class="msg__error"></span>
            </div>
            <div class="join__item">
                <span class="join__title">이름</span>
                <input type="text" name="name" class="input" placeholder="이름을 입력해주세요." maxlength="10" th:onblur="nameCheck( this )">
                <span class="msg__error"></span>
            </div>
            <div class="join__item">
                <span class="join__title">닉네임</span>
                <input type="text" name="nickName" class="input" placeholder="닉네임을 입력해주세요." maxlength="10" onblur="nickNameCheck( this )">
                <span class="msg__error"></span>
            </div>
            <div class="join__item">
                <span class="join__title">이메일</span>
                <div class="join__email">
                    <input type="text" name="email" class="input input__email" placeholder="이메일을 입력해주세요.">
                    <button type="button" class="button__email" th:onclick="sendCode()">전송</button>
                </div>
                <span class="msg__error"></span>
            </div>
            <div class="join__item join__emailCode" th:style="'display:none'">
                <input type="text" name="code" class="input input__emailCode" placeholder="인증코드를 입력해주세요." maxlength="6" th:onblur="emailCodeCheck( this )">
                <span class="msg__timer"></span>
                <span class="msg__error"></span>
            </div>
            <div class="join__item">
                <span class="join__title">성별</span>
                <div class="join__gender">
                    <label><input type="radio" name="gender" value="n" checked>선택안함</label>
                    <label><input type="radio" name="gender" value="m">남자</label>
                    <label><input type="radio" name="gender" value="w">여자</label>
                </div>
            </div>
            <div class="join__item">
                <label><input type="checkbox" class="checkbox" value="false"> 이용약관에 동의합니다.</label>
            </div>
        </form>
    </div>
<!-- 버튼 -->
<div class="button__count--02">
    <button type="button" class="button__size--medium button__cancel" th:onclick="location.href='/'">취소</button>
    <button class="button__size--medium button__confirm" th:onclick="return joinCheck()">가입</button>
</div>
</body>
</html>