<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>내 정보 : 돈매니저</title>
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/myinfo.css}">
    <!-- js -->
    <script th:src="@{/js/myinfo.js}"></script>
</head>
<body>
<nav th:replace="/include/menu.html :: menu"></nav>
<div id="myInfo">
    <div class="content">
        <span class="title">마이페이지</span>
        <div id="main">
            <span>내 정보</span>
            <div>
                <span id="changeType">n</span>
                <!-- 상단 -->
                <div>
                    <div class="flex top-div">
                        <div id="profile">
                            <form method="post" th:action="@{/updateInfo}" enctype="multipart/form-data">
                                <div><img th:src="${profile == null ? '/image/default.png' : '/image/profile/' + profile}" id="profileImage"></div>
                                <button type="button" class="btn-change" th:onclick="changeUser('profile')">변경하기</button>
                                <button type="submit" id="profileBtn">확인</button>
                            </form>
                        </div>
                        <div id="profile-info">
                            <span id="badge">[[${badge}]]</span><br>
                            <div id="nickName">
                                <span>[[${nickName}]]</span>님 반갑습니다!
                            </div>
                            <span th:text="${lastLogin}"></span>
                        </div>
                    </div>
                    <!-- 하단 -->
                    <div>
                        <div class="sub-area">
                            <div>
                                <span>이름</span>
                                <div id="name">
                                    <span id="originName">[[${name}]]</span>
                                    <button type="button" class="btn-change" th:onclick="changeUser('name')">변경하기</button>
                                </div>
                                <form method="post" th:action="@{/updateInfo}" id="nameUpdate" onsubmit="return false;">
                                    <input type="text" th:value="${name}" name="name" maxlength="10">
                                    <button type="button" th:onclick="checkName()">변경</button>
                                </form>
                                <span class="msg"></span>
                            </div>
                            <div>
                                <span>성별</span>
                                <div id="gender">
                                    <span>[[${gender}]]</span>
                                    <button type="button" class="btn-change" th:onclick="changeUser('gender')">변경하기</button>
                                </div>
                                <form method="post" th:action="@{/updateInfo}" id="genderUpdate">
                                    <label><input type="radio" name="gender" th:value="n" th:checked="${gender == '선택없음'}">선택없음</label>
                                    <label><input type="radio" name="gender" th:value="m" th:checked="${gender == '남자'}">남자</label>
                                    <label><input type="radio" name="gender" th:value="w" th:checked="${gender == '여자'}">여자</label>
                                    <button type="submit">변경</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="sub-area">
                            <div>
                                <span>가입일</span>
                                <div>[[${joinDate}]]</div>
                            </div>
                            <div>
                                <span>출석</span>
                                <div>
                                    연속 출석일은 <span th:style="${'color: #EA3B20'}">[[${totalAttend}]]</span>일 입니다.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="sub-area">
                            <div>
                                <span>이메일</span>
                                <div id="email">
                                    <span id="originEmail">[[${email}]]</span>
                                    <button type="button" class="btn-change" th:onclick="changeUser('email')">변경하기</button>
                                </div>
                                <form method="post" th:action="@{/updateInfo}" id="emailUpdate" onsubmit="return false;">
                                    <div th:style="${'display: flex'}">
                                        <input type="text" th:value="${email}" name="email">
                                        <button type="button" id="emailBtn1" th:onclick="checkEmail()">확인</button>
                                        <button type="button" id="emailBtn2" th:onclick="document.getElementById('emailUpdate').submit()">변경</button>
                                    </div>
                                    <div th:style="${'display: flex'}">
                                        <input type="text" id="inputEmailCode" name="code" placeholder="인증코드를 입력해주세요." maxlength="6" onblur="emailCodeCheck()">
                                        <span id="Timer"></span>
                                    </div>
                                </form>
                                <span class="msg"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
            <!-- 하단 메뉴 -->
            <div>
                <span th:onclick="openPopup('pwdChange')">비밀번호 변경하기</span>
                <span th:onclick="openPopup('memberDelete')">탈퇴하기</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>