<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/loginLayout}" th:with="pageTitle='비밀번호 찾기 : 돈매니저'">
<th:block layout:fragment="main">
<main class="page page-member-recovery">
    <div class="recovery-box">
        <!-- 상단 -->
        <section class="recovery-header">
            <h1 class="recovery-header__title">
              계정찾기
              <small>돈매니저</small>
            </h1>
          </section>

        <!-- 본문 -->
        <section class="recovery-body">
            <!-- 본문: 서브탭 -->
            <nav class="recovery-menu">
                <ul class="recovery-menu__list">
                    <li class="recovery-menu__item" data-menu="id">아이디 찾기</li>
                    <li class="recovery-menu__item recovery-menu__item--selected" data-menu="password">비밀번호 찾기</li>
                </ul>
            </nav>

            <!-- 본문: 작성 -->
            <article class="recovery-form">
                <!-- 가이트 문구 영역 -->
                <p class="recovery-form__guide">
                    <span>비밀번호가 기억나지 않으세요?</span>
                    <span>이름과 아이디를 입력해 주시면, 임시 비밀번호를 가입하신 이메일로 보내드릴게요!</span>
                </p>

                <form class="form" action="/recovery/password" method="post" th:attr="data-form='password'">
                    <!-- 이름 입력 영역 -->
                    <div class="form__field form__field--name">
                        <label class="form__label" for="recovery-name">이름</label>
                        <div class="form__input-box">
                            <input id="recovery-name" class="form__input form__input--text" name="name" type="text"  placeholder="이름을 입력해주세요.">
                        </div>
                    </div>

                    <!-- 아이디 입력 영역 --->
                    <div class="form__field form__field--id">
                        <label class="form__label" for="recovery-id">아이디</label>
                        <div class="form__input-box">
                            <input id="recovery-id" class="form__input form__input--text" name="id" type="text"  placeholder="아이디를 입력해주세요.">
                        </div>
                    </div>

                    <!-- 버튼 영역 -->
                    <div class="form__actions">
                        <button type="submit" class="button button--large button--submit">찾기</button>
                    </div>
                </form>
            </article>
        </section>

        <!-- 하단 -->
        <section class="recovery-footer">
            <a href="/" class="link">로그인</a>
            <a href="/signup" class="link">회원가입</a>
        </section>
  </div>
</main>
</th:block>
<th:block layout:fragment="pageScript">
    <script src="/js/pages/member-recovery.js"></script>
</th:block>
</html>