@import url("common.css");

/*공통 영역*/
.header, .detail, .detail__form, .update, .update__form, .button__count--02 {
    width: 80%;
    margin: auto;
}
.account__detail tr:nth-child(1), .account__detail tr:nth-child(2),
.account__detail tr:nth-child(4), .account__detail tr:nth-child(6) {
    height: 50px;
}
.input__radio {
    display: none;
}
.input__text, textarea {
    width: 90%;
    height: 90%;
}
.input__text {
    height: 50%;
}
.input__text:focus {
    border-bottom: 1px solid var(--color-basic-cancel);
}
/* 제목
    common.css에 작성되어 있음
*/
/* 상세영역 */
.detail, .update {
    height: 65%;
}
.detail__form, .update__form {
    height: 95%;
}
.detail__table, .update__table {
    width: 90%;
    height: 100%;
    margin: auto;
    text-align: center;
}
.detail__table tr, .update__table tr {
    border: 1px solid;
}
.detail__table th, td, .update__table th {
    vertical-align: middle;
}
.detail__table th, .update__table th {
    background: var(--color-basic);
    color: var(--color-basic-opposite);
}
.detail__table .detail__table__image {
    height: 60px;
}
.detail__table .detail__image {
    vertical-align: baseline;
    width: 600px;
    height: 100%;
    margin: auto;
}
.detail__table .detail__image img{
    width: 150px;
    height: 150px;
}
.detail__table__image {
    height: 150px;
}
.update__table .input__radio {
    display: none;
}
.update__table .input__radio:checked + svg {
    fill: var(--color-basic-point);
}
.update__table .update__fix label {
    display: inline-flex;
    align-items: center;
}
.update__table__price, .update__price, .update__priceOption {
    display: inline-flex;
}
.update__location__search {
    display: inline-flex;
    align-items: center;
}
.update__location__search:hover {
    cursor: pointer;
}
.update__fix {
    width: 70%;
    margin: auto;
    text-align: left;
}
.update__fix svg, .update__price svg, .location__img__remove {
    width: 20px;
    fill: var(--color-basic-cancel);
}
.update__image img {
    width: 120px;
    height: 120px;
}
.update__price {
    justify-content: space-around;
    width: 30%;
}
.location__img__search {
    width: 25px;
    height: 25px;
}
.location__img__remove {
    position: absolute;
    left: 70%;
    width: 25px;
    height: 25px;
}
.location__img__remove:hover {
    cursor: pointer;
}
/* 버튼 */
.button__count--02 {
    width: 30%;
}