@import url("common.css");

/*공통 영역*/
.header, .help, .button__count--02 {
    width: 50%;
    margin: auto;
    text-align: center;
}
.tab, .help__wrap {
    width: 80%;
}
/* 제목 */
.header {
    height: 30%;
}
/* 찾기 입력 */
.help {
    height: 50%;
}
.tab {
    display: inline-flex;
    justify-content: space-around;
    height: 10%;
}
.tab__item {
    display: block;
    width: 50%;
    border: 1px solid var(--color-basic-sub);
}
.tab__item:hover {
    text-decoration: none;
}
.tab__item--focus {
    border: none;
    background: var(--color-basic);
    color: var(--color-basic-opposite);
}
.tab__item--focus:hover {
    cursor: default;
}
.tab__info {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: 600;
}
.help__wrap {
    width: 80%;
    height: 60%;
    padding: 50px;
    margin: auto;
}
.help__form {
    height: 100%;
}
.help__item {
    width: 60%;
    height: 30%;
    margin: auto;
    text-align: left;
}
.help__title {
    display: block;
    height: 25%;
    font-size: 18px;
    font-weight: 600;
}
.input {
    width: 100%;
    height: 35px;
    border: none;
    border-bottom: 1px solid var(--color-basic-sub);
}
.input:focus {
    border-bottom: 2px solid var(--color-basic-point);
    background: transparent;
    outline: none;
}
.button__count--01 {
    height: 40%;
    margin-top: 30px;
}
.button__size--big {
    width: 50%;
    font-size: 20px;
    font-weight: 600;
}
/* 링크 */
.link {
    display: flex;
    width: 15%;
    justify-content: space-between;
    margin: auto;
}
.link__item {
    font-weight: 600;
}
.link__item:hover {
    color: var(--color-basic-point);
}
