@import url("common.css");

/*공통 영역*/
.header, .join, .button {
    width: 50%;
    margin: auto;
    text-align: center;
}
/* 제목
    common.css에 작성되어 있음
*/
/* 회원가입 */
.join {
    height: 70%;
}
.join__form {
    height: 100%;
}
.join__item {
    width: 50%;
    height: 11%;
    margin: auto;
    text-align: left;
}
.join__title {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 800;
}
.join__gender {
    display: flex;
    justify-content: space-between;
}
.input {
    display: block;
    width: 95%;
    height: 25px;
    margin: auto;
}
.join__email {
    display: flex;
}
.button__email {
    width: 80px;
    height: 30px;
    background-color: var(--color-basic);
    border-radius: 0;
    color: var(--color-basic-opposite);
}
.join__emailCode {
    position: relative;
    top: -2%;
}
.input__emailCode {
    width: 100%;
}
.msg__timer {
    position: relative;
    top: -30%;
    left: 90%;
}
/* 버튼 */
.button__count--02 {
    width: 20%;
}