@import url("common.css");

/*공통 영역*/
.header, .chart, .search, .account__form, .account__table__footer {
    width: 80%;
    margin: auto;
}
.account__form, .account__table__footer {
    text-align: center;
}
/* 날짜 선택 */
.header {
    height: 15%;
}
.header__title > span {
    height: 5%;
    margin-bottom: 60px;
    font-family: SEBANG_Gothic_Bold;
    font-size: 45px;
}
.header__title > span:hover {
    cursor: pointer;
}
/* 차트 영역  */
.chart {
    height: 40%;
}
/* 검색 영역 */
.search {
    display: flex;
    width: 78%;
    height: 5%;
}
.search__form {
    display: flex;
    width: 100%;
    height: 50%;
}
.search__option {
    align-items: center;
    height: 30px;
    margin-left: 25px;
}
.search__option .input__radio {
    accent-color: var(--color-basic-point);
}
.search__option .input__checkbox {
    display: none;
}
.search__option select {
    width: 100px;
    height: 25px;
    margin-right: 20px;
}
.search__option__income, .search__option__expend {
    align-items: center;
}
.search__option__income .option__label, .search__option__expend .option__label {
    width: auto;
    padding: 5px;
    margin: 3px;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
}
.input__checkbox:checked + .option__label {
    border: 2px solid var(--color-basic-point);
    color: var(--color-basic-point);
}
.search .menu {
    display: none;
    position: absolute;
    left: 38%
}
.search__option__income, .search__option__expend {
    display: inline-flex;
}
/* 내역 테이블 */
.account__form {
    height: 32%;
    overflow: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
/* 스크롤바 안보이게 */
.account__form::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
.account__table {
    width: 100%;
    height: 100%;
    margin: auto;
}
.account__table__header {
    position: sticky;
    top: 0px;
    height: 25px;
    background: var(--color-basic);
    color: var(--color-basic-opposite);
}
.account__table__header th, .account__table__body td, .account__table__footer th, .account__table__footer td {
    vertical-align: middle;
}
.account__table__header th:nth-child(1) {
    width: 5%;
}
.account__table__header th:nth-child(2) {
    width: 10%;
}
.account__table__header th:nth-child(3) {
    width: 6%;
}
.account__table__header th:nth-child(4) {
    width: 19%;
}
.account__table__header th:nth-child(6) {
    width: 15%;
}
.account__table__body tr {
    height: 50px;
    border-bottom: 1px solid var(--color-basic-cancel)
}
.account__table__body a:hover {
    color: var(--color-basic-point);
}
/* 총합 */
.account__table__footer tr {
    position: sticky;
    bottom: 0px;
    height: 50px;
    border-top: 1px solid var(--color-basic);
    border-bottom: 1px solid var(--color-basic);
}
.account__table__footer th {
    background: var(--color-basic);
    color: var(--color-basic-opposite);
}
.account__table__footer td {
    font-weight: 800;
}
/* 버튼 */
button {
    width: 50px;
    height: 25px;
    background-color: var(--color-basic);
    color: var(--color-basic-opposite);
    border-radius: 5px;
}