@import url("common.css");

/*공통 영역*/
.header, .myInfo, .link {
    width: 65%;
    margin: auto;
}
/* 제목
    common.css에 작성되어 있음
*/
/* 내 정보 */
.myInfo {
    height: 70%;
}
.myInfo > .myInfo__title {
    display: block;
    border-bottom: 1px solid;
    font-size: 25px;
    font-weight: 800;
    text-align: left;
}
.myInfo__header, .myInfo__body {
    width: 100%;
    margin: auto;
}
.myInfo__header {
    display: flex;
    height: 35%;
    padding: 20px 0;
}
.myInfo__profile {
    width: 40%;
    margin: auto;
    text-align: center;
}
.profile__form, .profile__img, .profile__svg {
    width: 100%;
    height: 100%;
}
.profile__form > .profile {
    width: 200px;
    height: 200px;
    margin: auto;
    padding: 10px 0;
}
.myInfo__btn {
    background: var(--color-button-myInfo);
}
.myInfo__info {
    width: 60%;
    margin: auto;
}
.profile__badge {
    display: inline-flex;
    margin-bottom: 5px;
    padding: 2px 20px;
    color : white;
    background-color: var(--color-badge-normal);
    border-radius: 10px;
    font-size: 15px;
}
.profile__nickname {
    font-size: 2.1rem;
}
.profile__nickname > span {
    font-size: 2.6rem;
}
.myInfo__body {
    height: 60%;
}
.myInfo__items {
    display: flex;
    width: 100%;
    height: 120px;
}
.myInfo__item {
    width: 50%;
    padding: 20px;
}
.myInfo__item > .myInfo__title {
    font-size: 17px;
    font-weight: 800;
}
.myInfo__totalAttend {
    color: var(--color-basic-point);
}
/* 링크 */
.link {
    text-align: right;
}
.link a {
    margin: 0 30px;
}
.link a:hover {
    color: var(--color-basic-point);
}