@import url("common.css");

/*공통 영역*/
.header, .myPage, .faq {
    width: 80%;
    margin: auto;
    text-align: center;
}
/* 제목
    일부분은 common.css에 작성되어 있음
*/
/* 메뉴 */
.myPage .myPage__link {
    display: inline-flex;
    flex-direction: column;
    width: 160px;
    height: 160px;
    margin: 0 30px;
    border: 2px solid;
    border-radius: 50%;
    color: black;
    text-decoration: none;
}
.myPage__title {
    margin-top: 18%;
    font-weight: 800;
    font-size: 20px;
}
.myPage__link:hover {
    border: 2px solid var(--color-basic-point);
    fill: var(--color-basic-point);
}
.myPage svg {
    width: 70px;
    margin: 0 auto;
    margin-top: 10px;
}
/* 자주 묻는 질문 */
.faq {
    height: 70%;
    text-align: left;
}
.faq__items {
    height: 100%;
}
.faq__item {
    height: 100px;
    margin: 0 50px;
}
.faq__question {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.faq__icon {
    width: 30px;
    color: var(--color-basic-point);
    font-size: 35px;
    font-weight: 600;
}
.faq__title {
    font-size: 20px;
    font-weight: 800;
}
.faq__answer {
    font-size: 17px;
    margin-left: 40px;
}