@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'SEBANG_Gothic_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* reset.css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 기본 */
body{
    display: flex;
    width: 85vw;
    height: 100vh;
    margin: 0 auto;
    font-family: 'Pretendard-Regular';
}
button {
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
}
button:hover {
    border-radius: 10px;
    background-color: #EA3B20;
    color: white;
    cursor: pointer;
}
a {
    text-decoration: none;
}





/* 공지사항 */








/* 공지사항 상세 */
.notice__item:first-child {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 15%;
}
.notice__item > span {
    position: relative;
    top: 25%;
    left: 36px;
    color: gray;
}
.container-title {
    position: absolute;
    font-size: 25px;
    font-weight: 600;
}
.notice__item:last-child {
    padding: 30px;
}
.notice__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 5%;
    height: 6%;
}
.button-confirm {
    width: 10%;
    height: 100%;
    background-color: #121212;
    color: white;
}
.button-confirm:hover {
    width: 15%;
    height: 100%;
    background-color: #121212;
    color: white;
}