@import url("common.css");

/*공통 영역*/
.header, .list, .detail, .button__count--01 {
    width: 80%;
    margin: auto;
}
/* 제목
    일부분은 common.css에 작성되어 있음
*/
/* 공지사항 리스트 */
.list {
    height: 60%;
}
.list__table {
    width: 100%;
    height: 100%;
    text-align: center;
}
.list__table__header {
    height: 25px;
    background: var(--color-basic);
    color: var(--color-basic-opposite);
}
.list__table__header th, .list__table__body td, .list__table__footer th, .list__table__footer td {
    vertical-align: middle;
}
.list__table__header th:nth-child(1) {
    width: 5%;
}
.list__table__header th:nth-child(2) {
    width: 50%;
}
.list__table__header th:nth-child(3) {
    width: 25%;
}
.list__table__header th:nth-child(4) {
    width: 10%;
}
.list__table__body tr {
    height: 50px;
    border-bottom: 1px solid var(--color-basic-cancel)
}
.list__table__body a:hover {
    color: var(--color-basic-point);
}
/* 공지사항 상세 */
.detail {
    height: 65%;
    padding: 20px;
    border-top: 2px solid;
    border-bottom: 2px solid;
}
.detail__items {
    height: 80px;
}
.detail__title {
    font-size: 30px;
}
.detail__date {
    font-size: 18px;
    color: var(--color-basic-cancel);
}
.detail__content {
    font-size: 18px;
    padding: 0 30px;
    text-align: left;
}
/* 버튼 */
.button__count--01 {
    position: relative;
    height: 100px;
    text-align: center;
}
.button__count--01 > .button__default {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}