@import url("common.css");

/*공통 영역*/
.header, .write, .search, .qna__list, .detail, .button__count--01 {
    width: 80%;
    margin: auto;
}
.question__table, .answer__table, .write__table {
    width: 80%;
    height: 100%;
    margin: auto;
    text-align: center;
}
.qna__table__header th, .qna__table__body td,
.question__table th, .question__table td,
.answer__table th, .answer__table td,
.write__table th, .write__table td{
    vertical-align: middle;
}
.detail {
    height: 65%;
}
/* 제목
    common.css에 작성되어 있음
*/
/* 작성 */
.write {
    height: 60%;
}
.write__form {
    height: 90%;
}
.write__table__title {
    background: var(--color-basic);
    color: var(--color-basic-opposite);
}
.write__table tr:nth-child(1),
.write__table tr:nth-child(2) {
    height: 50px;
}
.write__table td {
    padding: 0 50px;
    text-align: left;
}
.write__table [type="text"], .textarea {
    width: 90%;
}
.textarea {
    height: 90%;
}
.write__table label {
    display: inline-flex;
    align-items: center;
}
.write__table svg {
    width: 20px;
    fill: var(--color-basic-sub);
}
.input__checkbox:checked + svg {
    fill: var(--color-basic-point);
}
.msg__error{
    margin: auto;
    text-align: left;
}
/* 검색 영역 */
.search {
    display: flex;
    width: 65%;
}
.search__form {
    display: inline-flex;
    width: 95%;
    margin: auto;
}
.search__option {
    margin-left: 20px;
}
.search__button {
    width: auto;
}
/* 리스트 */
.qna__list {
    height: 60%;
    margin-top: 40px;
}
.qna__table {
    width: 90%;
    height: 100%;
    margin: auto;
    border-bottom: 2px solid var(--color-basic);
    text-align: center;
}
.qna__table__header {
    height: 25px;
    background: var(--color-basic);
    color: var(--color-basic-opposite);
}
.qna__table__header th:nth-child(1) {
    width: 5%
}
.qna__table__header th:nth-child(2) {
    width: 50%;
}
.qna__table__header th:nth-child(3) {
    width: 15%;
}
.qna__table__header th:nth-child(4) {
    width: 15%;
}
.qna__table__body tr {
    height: 50px;
    border-bottom: 1px solid var(--color-basic-cancel)
}
/* 질문 */
.question {
    height: 65%;
}
.question__table tr {
    border: 1px solid;
}
.question__table tr:nth-child(1) {
    height: 50px;
}
.question__table tr:nth-child(2) {
    height: 50px;
}
.question__table tr:nth-child(3) {
    height: auto;
}
.question__table__title {
    width: 100px;
    background: var(--color-basic);
    color: var(--color-basic-opposite);
}
.question__table tr:nth-child(1) td {
    width: 200px;
}
/* 답변 */
.answer {
    height: 30%;
    padding: 10px 0;
}
.answer__title {
    height: 50px;
    background: var(--color-basic);
    color: var(--color-basic-opposite);
}
.answer__content {
    border-bottom: 1px solid var(--color-basic);
}
.answer__content > td {
    padding-top: 10px;
}
.answer__content div:nth-child(1) {
    width: 95%;
    height: 90%;
    margin: auto;
    text-align: left;
}
.answer__content div:nth-child(2) {
    text-align: right;
    font-weight: 800;
}
/* 버튼 */
.button__count--01 {
    text-align: center;
}
.button__count--02 {
    width: 30%;
}