@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'SEBANG_Gothic_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* reset.css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 홈 */
body{
    display: flex;
    width: 85vw;
    height: 100vh;
    margin: 0 auto;
    font-family: 'Pretendard-Regular';
}

a, li{
    cursor: pointer;
}

/* 메뉴상단 */
nav{
    width: 300px;
    height: 100%;
    border-left: 2px solid #1E1E1E;
    border-right: 2px solid #1E1E1E;
}
#menu_top {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 18%;
    border-bottom: 1px solid #EA3B20;
}
.profile {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 80%;
}
.profile > img {
    width: 100px;
    height: 100px;
    margin-left: 15px;
}
.profile > div {
    padding-bottom: 25px;
    width: 70%;
    text-align: center;
}
.profile  span {
    color: #EA3B20;
    font-weight: 800;
    font-size: 20px;
}
.profile a {
    position: absolute;
    top: 60%;
    left: 55%;
    text-decoration: none;
    font-size: 15px;
    color: black;
}
.profile a:hover {
    text-decoration: underline;
    color: #0B3B78;
}


/* 메뉴 하단 */
#menu_bottom, ul {
    width: 100%;
    height: 70%;
}
.liMenu {
    width: 100%;
    height: 13%;
    font-size: 20px;
}
.liMenu:hover {
    background-color: #1E1E1E;
    color: white;
}

/* 작성하기 */
#write {
    width: calc( 100% - 300px );
    height: 100%;
    text-align: center;
}

.content, #wContent{
    width: 80%;
    height: 80%;
    margin: 5% auto;
}
.content div {
    margin-bottom: 60px;
}
.content  span {
    display: inline-block;
    font-size: 18px;
    margin-bottom: 15px;
}
.title {
    font-family: SEBANG_Gothic_Bold;
    font-size: 45px;
    margin-bottom: 80px;
    cursor: pointer
}

/* 수입/지출 선택 영역 */
.type label:disabled {
    opacity: 0.5;
}

.type input {
    display: none;
}
.type label:hover {
    cursor: pointer;
    border-radius: 7px;
    box-shadow: 0 0 1px 3px rgba(234, 59, 32, 0.7);
    box-shadow: 0 0 0 7px -moz-mac-focusring;
    color: 1E1E1E;
}

#typeIn + label:before {
    content: "수입";
    display: inline-block;
    width: 100px;
    height: 40px;
    border: 1px solid #aaa;
    border-radius: 7px;
    font-size: 16px;
    color: #aaa;
}
#typeIn:checked + label:before {
    content: "수입";
    display: inline-block;
    width: 100px;
    height: 40px;
    border: 2px solid #EA3B20;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 900;
    color: #EA3B20;
}
#typeOut + label:before {
    content: "지출";
    display: inline-block;
    width: 100px;
    height: 40px;
    border: 1px solid #aaa;
    border-radius: 7px;
    font-size: 16px;
    color: #aaa;
}
#typeOut:checked + label:before {
    content: "지출";
    display: inline-block;
    width: 100px;
    height: 40px;
    border: 2px solid #EA3B20;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 900;
    color: #EA3B20;
}
.typeBtn {
    display: inline-flex;
    justify-content: space-between;
    width: 25%;
}

/* 날짜선택 */
#selectYear:enabled, #selectMonth:enabled, #selectDate:enabled {
    color: #EA3B20;
}

#selectYear, #selectMonth, #selectDate {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
#selectYear, #selectMonth, #selectDate {
    font-family: 'Pretendard-Regular';
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #aaa;
    background-color: #fff;
    padding: 0.5em 4.5em;
    margin: 0;
    border: 2px solid #aaa;
    border-radius: 0.5em;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
}
#selectYear:hover, #selectMonth:hover, #selectDate:hover {
    cursor: pointer;
    box-shadow: 0 0 1px 3px rgba(234, 59, 32, 0.7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #1E1E1E;
}
#selectYear:focus, #selectMonth:focus, #selectDate:focus {
    border-color: #aaa;
    color: #1E1E1E;
    outline: none;
}


/* 버튼 */
#aloneBtn {
    display: inline-flex;
    justify-content: center;
    width: 50%;
}

#aloneBtn > button {
    border-style: none;
    border-radius: 3px;
    cursor: pointer;
    width: 80px;
    height: 35px;
}

.confirm {
    background-color: #EA3B20;
    font-weight: 700;
    color: white;
}



/* 수입 작성 */
#wContent > .title {
    font-family: SEBANG_Gothic_Bold;
    font-size: 45px;
    margin-bottom: 60px;
}
#wContent  span {
    display: inline-block;
    font-size: 18px;
    margin-bottom: 15px;
    color: #EA3B20;
}

.wMain {
    display: flex;
    flex-flow: column;
    width: 80%;
    height: 75%;
    margin: 0 auto;
    text-align: left;
}
.wArea {
    display: inline-flex;
    margin-bottom: 4.2%;
}
.write_title {
    width: 150px;
    font-weight: 800;
}

.fixs > label {
    margin-right: 10vw;
}

.wCategory, .wTitle, .wPrice {
    height: 110%;
}
.wContent {
    height: 30%;
}
.wTitle {
    width: 75%
}
.wContent > textarea {
    width: 75%;
}

.wArea img {
    width: 60px;
    margin: 5px;
}

/* 고정여부 */
#fixOption {
    display: none;
}

/* 작성버튼 */
#btnGroup {
    display: inline-flex;
    justify-content: space-between;
    width: 50%;
    margin-top: 50px;
}
.btn{
    width: 35%;
    height: 40px;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
}
.cancel {
    background-color: #818181;
    font-size: 15px;
    font-weight: 700;
    color: white;
}
.confirm {
    background-color: #EA3B20;
    font-size: 15px;
    font-weight: 700;
    color: white;
}

/* 지도 */
img.map {
    position: relative;
    width: 30px;
    height: 30px;
    bottom: 0.8vh;
    padding-right: 10px;
    cursor: pointer;
}
span#locationRoad {
    font-size: 16px;
    color: #1E1E1E;
}
span#locationAddr {
    position: relative;
    bottom: 10px;
    font-size: 14px;
    color: #6C6C6C;
}