@import url("common.css");

/*공통 영역*/
.header, .write, .button__count--01 {
    width: 80%;
    margin: auto;
}
.write__form, .income__form {
    width: 100%;
    height: 100%;
}
.input__radio {
    display: none;
}
.write__item svg {
    width: 20px;
    fill: var(--color-basic-sub);
}
.input__radio:checked + svg {
    fill: var(--color-basic-point);
}
/* 제목
    일부분은 common.css에 작성되어 있음
*/
.header__write {
    height: 20%;
    text-align: center;
}
.header__write > .header__title {
    width: 100%;
}
.header__subTitle {
    color: var(--color-basic-point);
}
/* 작성 */
.write {
    height: 55%;
    text-align: center;
}
.write .write__item {
    width: 50%;
    height: 40%;
    margin: 40px auto;
}
/* 수입/지출 선택 */
.write__info {
    display: block;
    height: 15%;
    font-size: 18px;
}
.write__tab {
    display: inline-flex;
    justify-content: space-between;
    width: 50%;
}
.input__radio + label:before, .input__radio:checked + label:before {
    display: inline-block;
    width: 100px;
    height: 35px;
    padding-top: 20px;
    border: 1px solid var(--color-basic-sub);
    border-radius: 7px;
    color: var(---color-basic-sub);
    font-size: 16px;
}
.input__radio--in:checked + label:before, .input__radio--out:checked + label:before {
    background: var(--color-basic);
    color: var(--color-basic-opposite);
    font-size: 16px;
}
.input__radio--in + label:before, .input__radio--in:checked + label:before {
    content: "수입";
}
.input__radio--out + label:before, .input__radio--out:checked + label:before{
    content: "지출";
}
.input__radio + label:disabled {
    opacity: 0.5;
}
.input__radio + label:hover {
    border-radius: 7px;
    box-shadow: 0 0 0 3px rgba(234, 59, 32, 0.7);
    cursor: pointer;
}
/* 작성날짜 */
.write__date {
    display: inline-flex;
    justify-content: space-between;
    width: 85%;
    height: 40px;
}
.write__select {
    width: 150px;
    height: 100%;
}
/* 버튼 */
.button__count--01 {
    text-align: center;
}
.button__count--02 {
    width: 60%;
    padding-top: 80px;
}
.button__size--big {
    width: 20%;
    background: var(--color-basic-point);
}
/* 수입 및 지출 */
.write__detail {
    width: 50%;
    height: 70%;
    margin: 30px auto 0;
    text-align: center;
}
.write__detail .fix__img {
    width: 20px;
}
.write__detail .location__img__search {
    width: 25px;
}
.write__detail .location__img__remove {
    position: absolute;
    top: 50%;
    left: 180%;
    width: 30px;
}
.write__detail .write__fix label {
    display: inline-flex;
    align-items: center;
}
.write__detail .write__form {
    text-align: left;
}
.write__detail .write__item {
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.write__detail .write__item__content {
    height: 100%;
}
.write__detail .write__item__fix {
    display: block;
}
.write__detail .write__item__price {
    display: inline-flex;
}
.write__detail .write__items {
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 5%;
    margin: 0 auto 15px;
}
.write__detail .write__items__content {
    height: 25%;
}
.write__detail .write__items__image {
    height: 10%;
}
.write__detail .write__location__result {
    position: relative;
    height: 20px;
}
.write__detail .write__location__search {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.write__detail .write__priceOption {
    display: flex;
    justify-content: space-around;
    width: 200px;
}
.write__detail .write__priceOption svg {
    width: 20px;
}
.write__detail .write__title {
    display: flex;
    align-items: center;
    width: 10%;
    margin-right: 30px;
    font-weight: 800;
}
.write__fix label, .write__priceOption label, .location__img__remove {
    cursor: pointer;
}
.input__text, .input__textarea {
    width: 100%;
    height: 100%;
}
.images__img {
    width: 60px;
}
.image__label {
    padding: 5px;
}
.image__label__pointer--none {
    pointer-events: none;
}

